/* SECCION DE PRODUCTOS */
.container-catalogue h1 {
    margin-top: 5rem;
    text-align: center;
}

.container-catalogue h1 span {
    color: var(--secondary);
}

.cards-title{
    margin-top: 2rem;
}

.cards-title h2 {
    background-color: var(--secondary);
    color: var(--white);
    width: 60rem;
    border-radius: 3rem;
    text-align: center;
    margin: 1rem auto;
}

.categoria-titulo {
    font-family: subtitle;
    color: var(--details);
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

.btn-perso {
    text-align: center;
}

.btn-wrapper {
    gap: 1rem;
}

/* pantallas pequeñas */
@media (max-width: 768px) {
    .container-catalogue h1 {
        font-size: 1.8rem;
        margin-top: 2rem;
    }

    .cards-title h2 {
        width: 80%;
        padding: 1rem;
    }

    .cards-title{
        margin: 0;
    }

    .categoria-titulo {
        font-size: 1.6rem;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }

    .btn-wrapper {
        gap: 0.5rem;
        align-items: center;
    }
}

/* SECCION CARDS */

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* seccion card dinamica */
.categoria-container {
    background-color: var(--white);
    border-radius: 3rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
   scroll-margin-top: 80px;
}

/* Tablets */
@media (max-width: 768px) {
  .categoria-container {
    margin-bottom: 3rem;
  }
}

/* Móviles */
@media (max-width: 480px) {
  .categoria-container {
    margin-bottom: 2rem;
  }
}

.categoria-titulo {
    margin-bottom: 15px;
}

.card-visual {
    width: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
    margin-bottom: 1rem;
}


.card-object {
    color: var(--white);
    display: block;
    position: absolute;
    top: 6%;
    left: 6%;
    width: 88%;
    height: 88%;
    transform-style: preserve-3d;
}

.cards-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* ✅ CENTRA los contenedores de categorías */
    gap: 20px;
    width: 100%;
}


.face {
    color: var(--white);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.face.front {
    z-index: 20;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.face.front::before {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    content: "";
    background: linear-gradient(45deg, rgba(179, 106, 132, 0.95) 0%, rgba(129, 73, 73, 0.5) 40%, rgba(167, 77, 77, 0.1) 100%) no-repeat;
    opacity: 0.7;
    z-index: 20;
    transition: opacity 0.2s ease;
}

.face.front::after {
    position: absolute;
    top: 7%;
    right: 7%;
    bottom: 7%;
    left: 7%;
    border: 1px solid rgba(255, 255, 255, 0.35);
    z-index: 100;
    content: "";
}

.face.front .title-wrapper {
    position: absolute;
    bottom: 3%;
    left: 10%;
    right: 10%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    z-index: 100;
    transform: translateY(0);
    transition: transform 0.28s ease;

}

.face.front .title-wrapper .card-font {
    position: relative;
    width: 100%;
    text-transform: uppercase;
    line-height: 1;
    opacity: 0.8;
    transition: opacity 0.2s ease;
}

.face.front .title-wrapper .card-font::after {
    display: block;
    margin: 7% auto 8% auto;
    width: 100%;
    height: 1px;
    content: "";
    background-color: var(--white);
    opacity: 0.5;
    transform: scale(0);
    transition: transform 0.15s;
}

.face.front .title-wrapper .card-font-text {
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 0.15s;
}

.face.front:hover::before {
    opacity: 0.9;
}

.face.front:hover .title-wrapper {
    transform: translateY(-50%);
}

.face.front:hover .title-wrapper .card-font {
    opacity: 1;
}

.face.front:hover .title-wrapper .card-font::after {
    transform: scale(1);
    opacity: 0.5;
    transition-delay: 0.15s;
    transition-duration: 0.2s;
}

.face.front:hover .title-wrapper .card-font-text {
    opacity: 0.7;
    transition-delay: 0.2s;
    transition-duration: 0.2s;
}

.card-font-text {
    font-family: text;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-container {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    top: 6%;
    right: 6%;
    bottom: 6%;
    left: 6%;
    padding: 0;
}

.img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 38%;
    z-index: 10;
}

.img-wrapper::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(14, 6, 70, 0.6);
    opacity: 0.7;
}

@media (max-width: 768px) {
    .cards-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .card-font {
        font-size: 1.5rem;
    }

    .card-wrapper {
        width: 100%;
        height: auto;
        margin-bottom: 20px;

    }
}

@media (max-width: 480px) {
    .card-wrapper {
        width: 90%;
    }
}

.btn-editar {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px;
    text-decoration: none;
}

.card-1 {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
}

.edit-button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.btn-anadir {
    display: block;
    margin: 20px auto;
    /* centra horizontalmente */
    text-align: center;
}