.container-info {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 4rem auto;
  gap: 3rem;
}

.face.front-single {
  z-index: 20;
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: var(--white);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.face.front-single::before {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  content: "";
  background: linear-gradient(45deg,
      rgba(179, 106, 132, 0.95) 0%,
      rgba(129, 73, 73, 0.5) 40%,
      rgba(167, 77, 77, 0.1) 100%) no-repeat;
  opacity: 0.7;
  z-index: 20;
  transition: opacity 0.2s ease;
}

.face.front-single::after {
  position: absolute;
  top: 7%;
  right: 7%;
  bottom: 7%;
  left: 7%;
  border: 1px solid rgba(255, 255, 255, 0.35);
  z-index: 100;
  content: "";
}

.face.front-single .title-wrapper {
  position: absolute;
  bottom: 3%;
  left: 10%;
  right: 10%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  z-index: 100;
  transform: translateY(0);
  transition: transform 0.28s ease;
}

.face.front-single .title-wrapper .card-font {
  position: relative;
  width: 100%;
  text-transform: uppercase;
  line-height: 1;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.face.front-single .title-wrapper .card-font::after {
  display: block;
  margin: 7% auto 8% auto;
  width: 100%;
  height: 1px;
  content: "";
  background-color: var(--white);
  opacity: 0.5;
  transform: scale(0);
  transition: transform 0.15s;
}

.face.front-single .title-wrapper .card-font-text {
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.15s;
}

.face.front-single:hover::before {
  opacity: 0.9;
}

.face.front-single:hover .title-wrapper {
  transform: translateY(-50%);
}

.face.front-single:hover .title-wrapper .card-font {
  opacity: 1;
}

.face.front-single:hover .title-wrapper .card-font::after {
  transform: scale(1);
  opacity: 0.5;
  transition-delay: 0.15s;
  transition-duration: 0.2s;
}

.face.front-single:hover .title-wrapper .card-font-text {
  opacity: 0.7;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
}

.content-info p,
h1 {
  font-family: text;
  margin: 0;
}

.nombre_prod {
  margin-bottom: 2rem;
}

.precio {
  margin: 2rem 0;
}

.categoria_nombre {
  margin: 0;
  font-size: 2rem;

}

.title-info {
  font-family: subtitle;
  text-align: center;
}

.card-wrapper-single {
  aspect-ratio: 1 / 1;
  max-width: 30rem;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.card-wrapper-single,
.content-info {
  flex: 1;
}


.cards-title {
  text-align: center;
}

.cards-title h1 {
  font-family: subtitle;
}

.cards-title p {
  font-family: text;
}

.title-text span {
  border-bottom: 3px solid var(--hover);
  padding-bottom: 1px;
}

.line {
  width: 80%;
  height: 1px;
  background-color: var(--secondary);
  margin: 20px auto;
}

.btn-compra {
  margin: 0;
}

.descripcion {
  margin-bottom: 2rem;
}

/* TABLET */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .categoria_nombre {
    font-size: 1.8rem;
  }

  .nombre_prod {
    font-size: 2rem;
    text-align: center;
  }

  .container-info {
    flex-direction: column;
    margin: 2rem 0;
    text-align: center;
  }

  .cards-wrapper {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .card-wrapper {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  .card-font {
    font-size: 1.5rem;
  }
}

/* MÓVIL */
@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }

  .categoria_nombre {
    font-size: 1.4rem;
    text-align: center;
  }

  .nombre_prod {
    font-size: 1.8rem;
  }

  .container-info {
    margin: 1rem 0;
    flex-direction: column;
    text-align: center;
  }

  .cards-title {
    margin-top: 3rem;
  }

  .cards-container {
    width: 100%;
  }

  .card-wrapper {
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
  }
}