@font-face {
  font-family: title;
  src: url(../assets/fonts/lemon_milk/LEMONMILK-Bold.otf);
}

@font-face {
  font-family: subtitle;
  src: url(../assets/fonts/roboto/Roboto-Black.ttf);
}

@font-face {
  font-family: text;
  src: url(../assets/fonts/roboto/Roboto-Light.ttf);
}

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffe6f0;
  --secondary: #d9556d;
  --hover: #e90a73;
  --white: #fff;
  --details: #320a28;
  --delete: #ec4654;
  --hover-delete: #db404d;
  --btn-color: #eb2380;
}

/* TEXTOS */
.card-font {
  font-family: title;
  font-size: 40px;
}

.card-font-text {
  font-size: 15px;
}

/* TAMAÑO TEXTOS */
.title {
  font-family: title;
  font-size: 80px;
  color: var(--details);
}

.subtitle-text {
  font-size: 50px;
  color: var(--details);
  font-family: subtitle;
}

.title-text {
  font-size: 40px;
}

.regular-title {
  font-size: 30px;
}

.common-text {
  font-family: text;
  font-size: 16px;
}

/* textos comunes */
.title-info {
  font-family: subtitle;
}

.subtitle-info {
  color: var(--secondary);
  font-family: subtitle;
}

/* FIN TEXTOS */

body {
  background-color: var(--background);
}

.main {
  margin: 0 6rem;
}

@media (max-width: 1200px) {
  .main {
    margin: 0 4rem;
  }
}

@media (max-width: 992px) {
  .main {
    margin: 0 3rem;
  }
}

@media (max-width: 768px) {
  .main {
    margin: 0 2rem;
  }
}

@media (max-width: 576px) {
  .main {
    margin: 0 1rem;
  }
}

/* NAVBAR GENERAL */
.navbar {
  border: 2px solid var(--secondary);
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

nav {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
}

.nav a {
  text-decoration: none;
  padding: 10px 15px;
  color: var(--details);
  font-family: title;
}

.nav a:hover {
  color: var(--hover);
  transition: background-color 0.3s, color 0.3s;
}

.logo img {
  height: 150px;
}

/* Oculta menú hamburguesa en pantallas grandes */
.menu-toggle {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: var(--details);
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: center;
    margin: 0;
  }

  nav {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .menu-toggle {
    display: block;
    font-size: 30px;
    cursor: pointer;
    color: var(--details);
    padding: 10px;
  }

  .nav {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav.active {
    display: flex;
  }

  .nav a {
    display: block;
    text-align: center;
    padding: 10px;
  }

  .logo img {
    height: 100px;
  }
}


/* BOTON */
a.cta-btn, button.cta-btn {
  background-color: var(--btn-color);
  color: var(--white);
  padding: 15px 30px;
  border: none;
  border-radius: 2rem;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  font-family: text;
}

a.cta-btn:hover, 
button.cta-btn:hover {
  background-color: var(--hover);
  color: var(--white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* El color del texto también esté aplicado correctamente */
a.cta-btn span {
  color: inherit;
  /* Hereda el color correcto */
}

.btn-menu {
  margin: 20px;
}

.btn-borrar {
  background-color: var(--delete);
  color: var(--white);
  padding: 15px 30px;
  border: none;
  border-radius: 3rem;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.btn-borrar:hover {
  background-color: var(--hover-delete);
  color: var(--white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.cta-catalogue {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}



/* contenedor lado derecho del menu */

.right-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  margin-right: 1rem;
}

.right-menu a,
.right-menu .user-info {
  margin: 0;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 1rem;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-menu .user-info,
.right-menu .profile-img {
  margin-top: 0;
  margin-bottom: 0;
}

/* Estilos para el menú desplegable */
.menu-toggle-account {
  display: none;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--background);
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.dropdown-menu a {
  padding: 10px;
  color: var(--details);
  text-decoration: none;
  display: block;
}

.menu-toggle-account:checked+.dropdown-menu {
  display: block;
}

.user-info:hover .dropdown-menu {
  display: block;
}

.account-label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.user-info {
  position: relative;
}

/* CONTAINERS */
.container,
.footer-card {
  background-color: var(--white);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 3rem;
  padding: 0 4rem;
}

.content-card h1 span {
  color: var(--secondary);
}

.content-info h1 span,
.personalization-content h1 span {
  color: var(--secondary);
}


/* CARDS */
.cards-title {
  text-align: center;
  margin-top: 6rem;
}

.cards-title h1 {
  font-family: subtitle;
}

.title-text span {
  border-bottom: 3px solid var(--hover);
  padding-bottom: 1px;
}

@media (max-width: 768px) {

  .title-text span {
    border-bottom: 2px solid var(--hover);
    padding-bottom: 0.5px;
  }
}

@media (max-width: 480px) {
  .title-text span {
    border-bottom: 2.5px solid var(--hover);
    padding-bottom: 0;
  }
}

@media (max-width: 992px) {

  .container,
  .footer-card {
    padding: 0 3rem;
  }

  .content-card {
    padding: 30px 0;
  }

  .text-content {
    max-width: 400px;
  }

  .image-content img {
    width: 300px;
  }
}

@media (max-width: 768px) {

  .container,
  .footer-card {
    padding: 0 2rem;
    margin: 1rem;
  }

  .content-card {
    flex-direction: column;
    text-align: center;
    padding: 40px 0;
  }

  .text-content {
    max-width: 100%;
  }

  .image-content {
    margin-top: 20px;
  }

  .image-content img {
    width: 100%;
    max-width: 400px;
  }
}

@media (max-width: 576px) {

  .container,
  .footer-card {
    padding: 0 1.5rem;
    margin: 0;
  }

  .content-card {
    margin: 1rem;
    padding: 30px 0;
  }

  .text-content h1 {
    font-size: 2em;
  }

  .text-content p {
    font-size: 0.9em;
  }

  .image-content img {
    width: 100%;
    max-width: 300px;
  }
}

/* FOOTER */

.footer-card {
  padding: 2rem;
  margin: 2rem 0;
}

.footer-text b {
  color: var(--details);
}

.logo-footer img {
  height: 200px;
  margin: -50px;
}

.logos {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.logos img {
  padding: 0 5px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


.footer-policies {
  display: flex;
  gap: 20px;
}

.footer-policies a {
  position: relative;
  text-decoration: none;
  color: black;
}

.footer-policies a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--hover);
  transition: width 0.3s ease-in-out;
}

.footer-policies a:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .footer-card {
    padding: 1rem;
    margin: 1rem 0;
  }

  .logo-footer img {
    height: 150px;
    margin: -30px;
  }

  .footer-info {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .logos {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
  }

  .logos img {
    padding: 0 10px;
  }

  .footer-policies {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .logo-footer img {
    height: 120px;
    margin: -20px;
  }

  .footer-card {
    padding: 0.5rem;
  }

  .footer-info {
    gap: 10px;
  }

  .footer-policies {
    gap: 5px;
  }
}

.container-stripe{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}