/* CONTAINER PRINCIPAL*/

.container,
.footer-card {
  background-color: #F8F4F2;
  border-radius: 3rem;
  padding: 0 4rem;
}

.content-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  margin: 1rem 2rem;
}

.title-card {
  padding: 0 4rem;
}

.text-content {
  max-width: 500px;
}

.text-content h1 {
  margin-bottom: 15px;
}

.text-content p {
  font-family: text;
  margin-bottom: 30px;
}

.content-card h2 {
  color: var(--secondary);
  font-size: 1.2em;
}

.content-card h1 span {
  color: var(--secondary);
}

.image-content {
  position: relative;
  border-radius: 3rem;
}

.image-content img {
  height: auto;
  width: 400px;
  border-radius: 2rem;
}

.image-contentinfo {
  margin: 4rem;
  display: flex;
  align-items: center;
  gap: 20px;
}

.image-info {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

/* Media Queries para Responsive Design */
@media (max-width: 1200px) {
  .content-card {
    padding: 40px 0;
  }

  .image-content img {
    width: 350px;
  }
}

@media (max-width: 992px) {

  .container,
  .footer-card {
    padding: 0 3rem;
    /* Aumenté el padding para hacer el container más grande */
  }

  .content-card {
    padding: 30px 0;
  }

  .text-content {
    max-width: 400px;
  }

  .image-content img {
    width: 300px;
  }
}

@media (max-width: 768px) {

  .container,
  .footer-card {
    padding: 0 2rem;
    /* Aumenté el padding para pantallas medianas */
    margin: 1rem;
    /* Añadí un margen para más espacio */
  }

  .content-card {
    flex-direction: column;
    text-align: center;
    padding: 40px 0;
  }

  .text-content {
    max-width: 100%;
  }

  .image-content {
    margin-top: 20px;
  }

  .image-content img {
    width: 100%;
    max-width: 400px;
  }
}

@media (max-width: 576px) {

  .container,
  .footer-card {
    padding: 0 1.5rem;
    /* Aumenté el padding para pantallas pequeñas */
    margin: 0;
    /* Ajusté el margen para más espacio */
  }

  .content-card {
    margin: 1rem;
    padding: 30px 0;
  }

  .text-content h1 {
    font-size: 2em;
  }

  .text-content p {
    font-size: 0.9em;
  }

  .image-content img {
    width: 100%;
    max-width: 300px;
  }
}

/* SECTION INFO Y PERSONALIZACION */

.subtitle-info,
.subtitle-perso {
  color: var(--secondary);
  font-family: subtitle;
}

.title-info,
.title-perso {
  margin: 10px 0;
  width: 100%;
  max-width: 40rem;
  font-family: subtitle;
}

.container-info,
.personalization-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin: 6rem auto;
  max-width: 1200px;
}

.personalization-content {
  background-color: var(--white);
  border-radius: 3rem;
  padding: 2rem;
}

.img-info,
.img-personalization {
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.content-info h1 span,
.personalization-content h1 span {
  color: var(--secondary);
}

.content-info p,
.personalization-content p {
  line-height: 1.5;
  margin: 10px 0;
  font-family: text;
}

/* Media Queries para pantallas más grandes */
@media (min-width: 768px) {

  .container-info,
  .personalization-wrapper {
    flex-direction: row;
    text-align: left;
    gap: 40px;
  }

  .container-info img,
  .personalization-wrapper img {
    margin-bottom: 0;
    flex: 1;
  }

  .content-info,
  .personalization-content {
    flex: 2;
  }
}

/* Ajustes para pantallas muy pequeñas (móviles) */
@media (max-width: 480px) {

  .container-info,
  .personalization-wrapper {
    margin: 3rem 1rem;
  }

  .content-info h1,
  .personalization-content h1 {
    font-size: 1.5rem;
  }

  .content-info p,
  .personalization-content p {
    font-size: 0.9rem;
  }
}

/* CARDS */

.cards-title {
  text-align: center;
  margin-top: 6rem;
}

.cards-title h1 {
  font-family: subtitle;
}

.cards-title p {
  font-family: text;
}

.title-text span {
  border-bottom: 3px solid var(--hover);
  padding-bottom: 1px;
}

@media (max-width: 768px) {

  /* Ajusta el tamaño según necesites */
  .title-text span {
    border-bottom: 2px solid var(--hover);
    /* Reduce el grosor en pantallas pequeñas */
    padding-bottom: 0.5px;
  }
}

@media (max-width: 480px) {
  .title-text span {
    border-bottom: 2.5px solid var(--hover);
    /* Aún más delgado en móviles */
    padding-bottom: 0;
  }
}

.cards-wrapper {
  position: relative;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-wrapper {
  display: block;
  float: left;
  position: relative;
  margin: 0;
  width: 28%;
  height: 0;
  /* largo  margin */
  padding: 10% 19.3% 25%;
  perspective: 700px;
}

.card-object {
  color: var(--white);
  display: block;
  float: left;
  position: absolute;
  top: 6%;
  left: 6%;
  width: 88%;
  height: 88%;
  transform-style: preserve-3d;
}

.card-object.card-1 .front {
  background: url(../assets/img/principal/img1.jpg) 90% 35%;
  background-size: 115%;
}

.card-object.card-2 .front {
  background: url(../assets/img/principal/img2.jpg) 50% 90% no-repeat;
  background-size: 105%;
}

.card-object.card-3 .front {
  background: url(../assets/img/principal/img3.jpg) 80% 100% no-repeat;
  background-size: 108%;
}

.face {
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.face.front {
  z-index: 20;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.face.front::before {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  content: "";
  background: linear-gradient(45deg, rgba(179, 106, 132, 0.95) 0%, rgba(129, 73, 73, 0.5) 40%, rgba(167, 77, 77, 0.1) 100%) no-repeat;
  opacity: 0.7;
  z-index: 20;
  transition: opacity 0.2s ease;
}

.face.front::after {
  position: absolute;
  top: 7%;
  right: 7%;
  bottom: 7%;
  left: 7%;
  border: 1px solid rgba(255, 255, 255, 0.35);
  z-index: 100;
  content: "";
}

.face.front .title-wrapper {
  position: absolute;
  bottom: 3%;
  left: 25%;
  right: 25%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  z-index: 100;
  transform: translateY(0);
  transition: transform 0.28s ease;
}

.face.front .title-wrapper .card-font {
  position: relative;
  width: 100%;
  text-transform: uppercase;
  line-height: 1;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.face.front .title-wrapper .card-font::after {
  display: block;
  margin: 7% auto 8% auto;
  width: 100%;
  height: 1px;
  content: "";
  background-color: var(--white);
  opacity: 0.5;
  transform: scale(0);
  transition: transform 0.15s;
}

.face.front .title-wrapper .card-font-text {
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.15s;
}

.face.front:hover::before {
  opacity: 0.9;
}

.face.front:hover .title-wrapper {
  transform: translateY(-50%);
}

.face.front:hover .title-wrapper .card-font {
  opacity: 1;
}

.face.front:hover .title-wrapper .card-font::after {
  transform: scale(1);
  opacity: 0.5;
  transition-delay: 0.15s;
  transition-duration: 0.2s;
}

.face.front:hover .title-wrapper .card-font-text {
  opacity: 0.7;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
}

.card-font-text{
  font-family: text;
}

.info-container {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  top: 6%;
  right: 6%;
  bottom: 6%;
  left: 6%;
  padding: 0;
}

.img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 38%;
  z-index: 10;
}

.img-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(14, 6, 70, 0.6);
  opacity: 0.7;
}

@media (max-width: 768px) {
  .cards-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .card-font {
    font-size: 1.5rem;
  }

  .card-wrapper {
    width: 100%;
    height: 15rem;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .card-wrapper {
    width: 90%;
  }
}

/* FOOTER */

.footer-card {
  padding: 2rem;
  margin: 2rem 0;
}

.footer-text p, b{
  font-family: text;
}

.footer-text b{
  color: var(--details);
}

.logo-footer img {
  height: 200px;
  margin: -50px;
}

.logos {
  margin-bottom: 4rem;
}

.logos img {
  padding: 0 5px;
}

.footer-info {
  display: flex;
  flex-wrap: row;
  gap: 67%;
}

.footer-info p{
  font-family: text;
}

.footer-policies {
  display: flex;
  gap: 20px;
}

.footer-policies p {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-bottom: 5px;
  font-family: text;
}

.footer-policies p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--hover);
  transition: width 0.3s ease-in-out;
}

.footer-policies p:hover::after {
  width: 100%;
}

/* Media Queries para hacer el footer responsive */
@media (max-width: 768px) {
  .footer-card {
    padding: 1rem;
    margin: 1rem 0;
  }

  .logo-footer img {
    height: 150px;
    margin: -30px;
  }

  .footer-info {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .logos {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .logos img {
    padding: 0 10px;
  }

  .footer-policies {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .logo-footer img {
    height: 120px;
    margin: -20px;
  }

  .footer-card {
    padding: 0.5rem;
  }

  .footer-info {
    gap: 10px;
  }

  .footer-policies {
    gap: 5px;
  }
}