/* CONTAINER PRINCIPAL */
.content-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 1rem;
  margin: 1rem 0;
  /* Quitamos margen lateral duplicado */
}

@media (max-width: 768px) {
  .content-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.title-card {
  padding: 0 4rem;
}

.text-content {
  max-width: 500px;
}

.text-content h1 {
  margin-bottom: 15px;
}

.text-content p {
  margin-bottom: 30px;
}

.content-card h2 {
  color: var(--secondary);
  font-size: 1.2em;
}

.image-content {
  position: relative;
  border-radius: 3rem;
}

.image-content img {
  height: auto;
  width: 400px;
  border-radius: 3rem;
}

.image-contentinfo {
  margin: 4rem;
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 1200px) {
  .content-card {
    padding: 40px 1rem;
  }

  .image-content img {
    width: 350px;
  }
}

/* SECTION INFO Y PERSONALIZACION */
.title-info {
  margin: 10px 0;
  width: 100%;
  max-width: 40rem;
}

.container-info,
.personalization-wrapper {
  display: flex;
  flex-direction: row;
  text-align: left;
  gap: 40px;
  padding: 20px 1rem;
  border-radius: 3rem;
  margin: 6rem auto; /* <-- Esto la centra horizontalmente */
  max-width: 1200px;
}


.personalization-content {
  background-color: var(--white);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 3rem;
  padding: 2rem;
}

.img-info,
.img-personalization {
  width: 100%;
  max-width: 20rem;
  border-radius: 3rem;
  vertical-align: middle;
  object-fit: cover;
}

.content-info p,
.personalization-content p {
  line-height: 1.5;
  margin: 10px 0;
}

/* pantallas pequeñas */
@media (max-width: 480px) {

  .container-info,
  .personalization-wrapper {
    flex-direction: column;
    margin: 2rem 0;
    padding: 20px 0.5rem;
  }

  .content-info h1,
  .personalization-content h1 {
    font-size: 1.5rem;
  }

  .content-info p,
  .personalization-content p {
    font-size: 0.9rem;
  }

  .img-info,
  .img-personalization {
    width: 100%;
    max-width: none;
    margin-top: 0;
  }
}

